/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { GetAvailableModelsByTypeRequest$zodSchema, } from "../models/getavailablemodelsbytypeop.js";
import { APIPromise } from "../types/async.js";
/**
 * List available AI models of a given type
 *
 * @remarks
 * List every AI model of the requested type that the org has
 * configured. Use this to discover valid `modelKey` values to pass
 * on chat / search requests.<br><br>
 * <b>Typical flow for a programmatic / MCP caller:</b>
 * <ol>
 * <li>Call this endpoint with <code>modelType=llm</code> to find
 *     chat models. Pick the one with <code>isDefault: true</code>
 *     unless the user explicitly asked for another.</li>
 * <li>Pass the chosen <code>modelKey</code> (and optionally
 *     <code>modelName</code>, <code>modelFriendlyName</code>) to
 *     <code>POST /conversations/create</code> /
 *     <code>POST /conversations/{id}/messages</code> /
 *     <code>POST /search</code>.</li>
 * </ol>
 * Other useful `modelType` values: `embedding` (for re-embedding),
 * `ocr`, `multiModal`, `reasoning`, `imageGeneration`, `tts`, `stt`.
 */
export function aiModelsProvidersGetAvailableModelsByType(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => GetAvailableModelsByTypeRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = null;
    const pathParams$ = {
        modelType: encodeSimple("modelType", payload$.modelType, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/configurationManager/ai-models/available/{modelType}")(pathParams$);
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "getAvailableModelsByType",
        oAuth2Scopes: ["config:read"],
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "GET",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=aiModelsProvidersGetAvailableModelsByType.js.map