/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { appendForm } from "../lib/encodings.js";
import { getContentTypeFromFileName, readableStreamToArrayBuffer, } from "../lib/files.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { CreateGoogleWorkspaceCredentialsRequest$zodSchema, } from "../models/creategoogleworkspacecredentialsop.js";
import { APIPromise } from "../types/async.js";
import { isBlobLike } from "../types/blobs.js";
import { isReadableStream } from "../types/streams.js";
/**
 * Upload Google Workspace credentials
 *
 * @remarks
 * Upload Google Workspace credentials (service account JSON for business, or OAuth tokens for individual users). File must be valid JSON.
 */
export function connectorOAuthConfigurationCreateGoogleWorkspaceCredentials(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => CreateGoogleWorkspaceCredentialsRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = new FormData();
    if (isBlobLike(payload$.googleWorkspaceCredentials)) {
        appendForm(body$, "googleWorkspaceCredentials", payload$.googleWorkspaceCredentials);
    }
    else if (isReadableStream(payload$.googleWorkspaceCredentials.content)) {
        const buffer = await readableStreamToArrayBuffer(payload$.googleWorkspaceCredentials.content);
        const contentType = getContentTypeFromFileName(payload$.googleWorkspaceCredentials.fileName)
            || "application/octet-stream";
        const blob = new Blob([buffer], { type: contentType });
        appendForm(body$, "googleWorkspaceCredentials", blob, payload$.googleWorkspaceCredentials.fileName);
    }
    else {
        const contentType = getContentTypeFromFileName(payload$.googleWorkspaceCredentials.fileName)
            || "application/octet-stream";
        appendForm(body$, "googleWorkspaceCredentials", new Blob([payload$.googleWorkspaceCredentials.content], {
            type: contentType,
        }), payload$.googleWorkspaceCredentials.fileName);
    }
    appendForm(body$, "userType", payload$.userType);
    const path$ = pathToFunc("/configurationManager/connectors/googleWorkspaceCredentials")();
    const headers$ = new Headers(compactMap({
        Accept: "*/*",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "createGoogleWorkspaceCredentials",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "POST",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=connectorOAuthConfigurationCreateGoogleWorkspaceCredentials.js.map