/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeJSON } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { GetTokenFromCodeRequest$zodSchema, } from "../models/gettokenfromcodeop.js";
import { APIPromise } from "../types/async.js";
/**
 * Exchange authorization code for tokens (legacy)
 *
 * @remarks
 * Exchange a Google Workspace authorization code for access and refresh tokens.<br><br>
 * <b>Note:</b> This is a legacy endpoint specific to Google Workspace connectors.
 * For new integrations, use the standard OAuth flow via
 * <code>/connectors/{connectorId}/oauth/authorize</code> and the callback.<br><br>
 * <b>Flow:</b><br>
 * <ol>
 * <li>User completes Google Workspace OAuth consent in the browser</li>
 * <li>Browser receives authorization code</li>
 * <li>Frontend sends the code to this endpoint</li>
 * <li>Backend exchanges code for tokens and stores them</li>
 * </ol>
 * <b>Admin Only:</b> Requires admin privileges.
 */
export function connectorOAuthGetTokenFromCode(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => GetTokenFromCodeRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = encodeJSON("body", payload$, { explode: true });
    const path$ = pathToFunc("/connectors/getTokenFromCode")();
    const headers$ = new Headers(compactMap({
        "Content-Type": "application/json",
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "getTokenFromCode",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "POST",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=connectorOAuthGetTokenFromCode.js.map