/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { GetConnectorSchemaRequest$zodSchema, } from "../models/getconnectorschemaop.js";
import { APIPromise } from "../types/async.js";
/**
 * Get connector configuration schema
 *
 * @remarks
 * Get the configuration schema for a specific connector type.<br><br>
 * <b>Overview:</b><br>
 * Returns JSON Schema definitions for authentication, sync settings, and
 * filter options. Use this to dynamically build configuration forms.<br><br>
 * <b>Schema Sections:</b><br>
 * <ul>
 * <li><b>authSchema:</b> Fields for authentication (credentials, tokens)</li>
 * <li><b>syncSchema:</b> Sync settings (schedule, incremental options)</li>
 * <li><b>filterSchema:</b> Filter field definitions</li>
 * </ul>
 */
export function connectorRegistryGetConnectorSchema(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => GetConnectorSchemaRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = null;
    const pathParams$ = {
        connectorType: encodeSimple("connectorType", payload$.connectorType, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/connectors/registry/{connectorType}/schema")(pathParams$);
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "getConnectorSchema",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "GET",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=connectorRegistryGetConnectorSchema.js.map