/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeFormQuery } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { pathToFunc } from "../lib/url.js";
import { HandleOAuthCallbackRequest$zodSchema, } from "../models/handleoauthcallbackop.js";
import { APIPromise } from "../types/async.js";
/**
 * OAuth callback handler
 *
 * @remarks
 * Handle the OAuth callback from the identity provider.<br><br>
 * <b>Note:</b><br>
 * This endpoint is called by the OAuth provider after user authentication.
 * The state parameter contains the encoded connector ID.<br><br>
 * <b>Success:</b><br>
 * On success, tokens are stored and the connector becomes authenticated.
 * User is redirected to the frontend success page.<br><br>
 * <b>Error:</b><br>
 * If the provider returns an error (e.g., user denied access),
 * user is redirected with error information.
 */
export function connectorOAuthHandleOAuthCallback(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => HandleOAuthCallbackRequest$zodSchema.optional().parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = null;
    const path$ = pathToFunc("/connectors/oauth/callback")();
    const query$ = encodeFormQuery({
        "baseUrl": payload$?.baseUrl,
        "code": payload$?.code,
        "error": payload$?.error,
        "state": payload$?.state,
    });
    const headers$ = new Headers(compactMap({
        Accept: "*/*",
    }));
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "handleOAuthCallback",
        oAuth2Scopes: null,
        resolvedSecurity: null,
        securitySource: null,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        method: "GET",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        query: query$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=connectorOAuthHandleOAuthCallback.js.map