/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeFormQuery } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { ListActiveAgentConnectorsRequest$zodSchema, } from "../models/listactiveagentconnectorsop.js";
import { APIPromise } from "../types/async.js";
/**
 * List active agent connectors
 *
 * @remarks
 * Get connector instances enabled for AI agent integration.<br><br>
 * <b>Overview:</b><br>
 * Returns connectors where <code>agentEnabled: true</code>.
 * These are available to AI agents for querying and actions.
 */
export function connectorInstancesListActiveAgentConnectors(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => ListActiveAgentConnectorsRequest$zodSchema.optional().parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = null;
    const path$ = pathToFunc("/connectors/agents/active")();
    const query$ = encodeFormQuery({
        "limit": payload$?.limit,
        "page": payload$?.page,
        "scope": payload$?.scope,
        "search": payload$?.search,
    });
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "listActiveAgentConnectors",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "GET",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        query: query$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=connectorInstancesListActiveAgentConnectors.js.map