/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { RegenerateAnswerRequest$zodSchema, } from "../models/regenerateanswerop.js";
import { APIPromise } from "../types/async.js";
/**
 * Regenerate AI response
 *
 * @remarks
 * Regenerate the AI response for a specific message.<br><br>
 * <b>Overview:</b><br>
 * If you're not satisfied with an AI response, use this endpoint to generate
 * a new answer. The AI will re-process the original query and may produce
 * a different response.<br><br>
 * <b>Use Cases:</b><br>
 * <ul>
 * <li>Response was incomplete or unclear</li>
 * <li>Want to try a different AI model</li>
 * <li>New documents have been indexed since original response</li>
 * </ul>
 * <b>Model Override:</b><br>
 * Specify <code>modelKey</code> to use a different model for regeneration.
 */
export function conversationsRegenerateAnswer(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => RegenerateAnswerRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = encodeJSON("body", payload$.body, { explode: true });
    const pathParams$ = {
        conversationId: encodeSimple("conversationId", payload$.conversationId, {
            explode: false,
            charEncoding: "percent",
        }),
        messageId: encodeSimple("messageId", payload$.messageId, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/conversations/{conversationId}/message/{messageId}/regenerate")(pathParams$);
    const headers$ = new Headers(compactMap({
        "Content-Type": "application/json",
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "regenerateAnswer",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "POST",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=conversationsRegenerateAnswer.js.map