/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeJSON } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { CreateConversationRequest$zodSchema, } from "../models/createconversationrequest.js";
import { APIPromise } from "../types/async.js";
/**
 * Create a new AI conversation
 *
 * @remarks
 * Start a new conversation with PipesHub's AI assistant.<br><br>
 * <b>Overview:</b><br>
 * This endpoint creates a new conversation session and processes the initial query.
 * The AI searches your organization's knowledge bases for relevant information and
 * generates a response with citations to source documents.<br><br>
 * <b>How It Works:</b><br>
 * <ol>
 * <li>Your query is analyzed and converted to semantic embeddings</li>
 * <li>Relevant content is retrieved from indexed knowledge bases</li>
 * <li>The AI generates a response using the retrieved context</li>
 * <li>Citations link back to source documents for verification</li>
 * <li>Follow-up questions are suggested based on the conversation</li>
 * </ol>
 * <b>Filtering Options:</b><br>
 * <ul>
 * <li><b>recordIds:</b> Limit search to specific documents</li>
 * <li><b>filters.apps:</b> Search only specific connector apps</li>
 * <li><b>filters.kb:</b> Search only specific knowledge bases</li>
 * </ul>
 * <b>Model Selection:</b><br>
 * Use <code>modelKey</code> to select different AI models configured for your organization.
 * Each model may have different capabilities, speed, and accuracy trade-offs.
 */
export function conversationsCreate(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => CreateConversationRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = encodeJSON("body", payload$, { explode: true });
    const path$ = pathToFunc("/conversations/create")();
    const headers$ = new Headers(compactMap({
        "Content-Type": "application/json",
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "createConversation",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "POST",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=conversationsCreate.js.map