/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { compactMap } from "../lib/primitives.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIPromise } from "../types/async.js";
/**
 * Get all crawling job statuses
 *
 * @remarks
 * Retrieve the status of all scheduled crawling jobs for the current organization.<br><br>
 *
 * <b>Overview:</b><br>
 * Returns a list of all crawling jobs across all connectors for the authenticated user's
 * organization. This includes active, waiting, paused, completed, and failed jobs.<br><br>
 *
 * <b>Response Details:</b><br>
 * <ul>
 * <li>Jobs are grouped by connector type</li>
 * <li>Last 10 jobs per connector type are returned</li>
 * <li>Includes both active queue jobs and paused jobs</li>
 * </ul>
 *
 * <b>Use Cases:</b><br>
 * <ul>
 * <li>Dashboard overview of all crawling activities</li>
 * <li>Monitoring job health across connectors</li>
 * <li>Identifying failed or stuck jobs</li>
 * </ul>
 */
export function crawlingJobsGetAllCrawlingJobStatus(client$, options) {
    return new APIPromise($do(client$, options));
}
async function $do(client$, options) {
    const path$ = pathToFunc("/crawlingManager/schedule/all")();
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "getAllCrawlingJobStatus",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "GET",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=crawlingJobsGetAllCrawlingJobStatus.js.map