/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { PauseCrawlingJobRequest$zodSchema, } from "../models/pausecrawlingjobop.js";
import { APIPromise } from "../types/async.js";
/**
 * Pause a crawling job
 *
 * @remarks
 * Pause a running or scheduled crawling job without losing its configuration.<br><br>
 *
 * <b>Overview:</b><br>
 * Pausing a job stores its complete configuration and removes it from the active queue.
 * The job can be resumed later with <code>POST /crawlingManager/{connector}/{connectorId}/resume</code>,
 * which will restore the exact same schedule configuration.<br><br>
 *
 * <b>How Pausing Works:</b><br>
 * <ol>
 * <li>Current job configuration is stored in memory</li>
 * <li>Active/repeatable job is removed from BullMQ queue</li>
 * <li>Job state changes to "paused"</li>
 * <li>No new job executions will occur until resumed</li>
 * </ol>
 *
 * <b>Use Cases:</b><br>
 * <ul>
 * <li>Temporarily stop crawling during maintenance</li>
 * <li>Pause data sync while investigating issues</li>
 * <li>Stop crawling for a connector being reconfigured</li>
 * </ul>
 *
 * <b>Note:</b> If a job is currently active (processing), it will complete before pausing.
 */
export function crawlingJobsPauseCrawlingJob(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => PauseCrawlingJobRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = null;
    const pathParams$ = {
        connector: encodeSimple("connector", payload$.connector, {
            explode: false,
            charEncoding: "percent",
        }),
        connectorId: encodeSimple("connectorId", payload$.connectorId, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/crawlingManager/{connector}/{connectorId}/pause")(pathParams$);
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "pauseCrawlingJob",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "POST",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=crawlingJobsPauseCrawlingJob.js.map