/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { compactMap } from "../lib/primitives.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIPromise } from "../types/async.js";
/**
 * Remove all crawling jobs
 *
 * @remarks
 * Remove all scheduled crawling jobs for the current organization.<br><br>
 *
 * <b>Overview:</b><br>
 * Bulk operation to remove all crawling jobs across all connectors for the organization.
 * This is useful when decommissioning an organization or doing a complete reset.<br><br>
 *
 * <b>What Gets Removed:</b><br>
 * <ul>
 * <li>All active and waiting jobs</li>
 * <li>All repeatable job configurations</li>
 * <li>All paused jobs</li>
 * <li>All job mappings for the organization</li>
 * </ul>
 *
 * <b>Warning:</b> This operation cannot be undone. All job configurations will need
 * to be recreated manually.
 */
export function crawlingJobsRemoveAllCrawlingJobs(client$, options) {
    return new APIPromise($do(client$, options));
}
async function $do(client$, options) {
    const path$ = pathToFunc("/crawlingManager/schedule/all")();
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "removeAllCrawlingJobs",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "DELETE",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=crawlingJobsRemoveAllCrawlingJobs.js.map