/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { GetDocumentByIdRequest$zodSchema, } from "../models/getdocumentbyidop.js";
import { APIPromise } from "../types/async.js";
/**
 * Get document by ID
 *
 * @remarks
 * Retrieve complete document metadata by its unique identifier.<br><br>
 * <b>Overview:</b><br>
 * Returns all document information including metadata, version history, storage location, and access permissions. Use this to display document details or prepare for download/edit operations.<br><br>
 * <b>Response Includes:</b><br>
 * <ul>
 * <li>Document metadata (name, path, size, type)</li>
 * <li>Storage information (vendor, URLs)</li>
 * <li>Version history (if versioned)</li>
 * <li>Permission settings</li>
 * <li>Custom metadata</li>
 * <li>Timestamps (created, updated)</li>
 * </ul>
 * <b>Authorization:</b><br>
 * Document must belong to the requesting user's organization.<br><br>
 * <b>Note:</b> Soft-deleted documents (isDeleted: true) are not returned.
 */
export function documentManagementGet(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => GetDocumentByIdRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = null;
    const pathParams$ = {
        documentId: encodeSimple("documentId", payload$.documentId, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/document/{documentId}")(pathParams$);
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "getDocumentById",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "GET",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=documentManagementGet.js.map