/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { appendForm, encodeSimple } from "../lib/encodings.js";
import { getContentTypeFromFileName, readableStreamToArrayBuffer, } from "../lib/files.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { UpdateDocumentBufferRequest$zodSchema, } from "../models/updatedocumentbufferop.js";
import { APIPromise } from "../types/async.js";
import { isBlobLike } from "../types/blobs.js";
import { isReadableStream } from "../types/streams.js";
/**
 * Update document buffer
 *
 * @remarks
 * Replace the document's file content with a new file. Updates the current version without creating version history.<br><br>
 * <b>Overview:</b><br>
 * This endpoint replaces the document's content in storage. Use this for quick updates that don't need version tracking.<br><br>
 * <b>When to Use:</b><br>
 * <ul>
 * <li>Updating draft documents</li>
 * <li>Replacing temporary files</li>
 * <li>Quick fixes without version history</li>
 * </ul>
 * <b>For Version Tracking:</b><br>
 * Use <code>/uploadNextVersion</code> instead if you need to maintain version history.<br><br>
 * <b>File Constraints:</b><br>
 * <ul>
 * <li>Maximum size: 100MB</li>
 * <li>File extension must match original document</li>
 * </ul>
 * <b>Side Effects:</b><br>
 * <ul>
 * <li>Increments <code>mutationCount</code></li>
 * <li>Updates <code>sizeInBytes</code></li>
 * <li>Updates <code>updatedAt</code> timestamp</li>
 * </ul>
 */
export function documentBufferUpdate(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => UpdateDocumentBufferRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = new FormData();
    if (isBlobLike(payload$.body.file)) {
        appendForm(body$, "file", payload$.body.file);
    }
    else if (isReadableStream(payload$.body.file.content)) {
        const buffer = await readableStreamToArrayBuffer(payload$.body.file.content);
        const contentType = getContentTypeFromFileName(payload$.body.file.fileName)
            || "application/octet-stream";
        const blob = new Blob([buffer], { type: contentType });
        appendForm(body$, "file", blob, payload$.body.file.fileName);
    }
    else {
        const contentType = getContentTypeFromFileName(payload$.body.file.fileName)
            || "application/octet-stream";
        appendForm(body$, "file", new Blob([payload$.body.file.content], { type: contentType }), payload$.body.file.fileName);
    }
    const pathParams$ = {
        documentId: encodeSimple("documentId", payload$.documentId, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/document/{documentId}/buffer")(pathParams$);
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "updateDocumentBuffer",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "PUT",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=documentBufferUpdate.js.map