/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeJSON } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { CreateDocumentPlaceholderRequest$zodSchema, } from "../models/createdocumentplaceholderop.js";
import { APIPromise } from "../types/async.js";
/**
 * Create document placeholder
 *
 * @remarks
 * Create a document metadata record without uploading file content. Used in conjunction with direct upload for large files.<br><br>
 * <b>Overview:</b><br>
 * This endpoint creates a document entry in the database without actual file content. The file is then uploaded directly to storage using the <code>/directUpload</code> endpoint.<br><br>
 * <b>Direct Upload Flow:</b><br>
 * <ol>
 * <li>Call this endpoint to create document placeholder</li>
 * <li>Receive document ID in response</li>
 * <li>Call <code>/document/{documentId}/directUpload</code> to get presigned URL</li>
 * <li>Upload file directly to presigned URL</li>
 * <li>Document becomes accessible once upload completes</li>
 * </ol>
 * <b>Use Cases:</b><br>
 * <ul>
 * <li>Large file uploads (bypassing server)</li>
 * <li>Client-side upload progress tracking</li>
 * <li>Resumable uploads</li>
 * <li>Reduced server memory usage</li>
 * </ul>
 * <b>Note:</b> Extension must be provided without the dot (e.g., "pdf" not ".pdf").
 */
export function documentUploadCreatePlaceholder(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => CreateDocumentPlaceholderRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = encodeJSON("body", payload$, { explode: true });
    const path$ = pathToFunc("/document/placeholder")();
    const headers$ = new Headers(compactMap({
        "Content-Type": "application/json",
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "createDocumentPlaceholder",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "POST",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=documentUploadCreatePlaceholder.js.map