/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { GetDocumentBufferRequest$zodSchema, } from "../models/getdocumentbufferop.js";
import { APIPromise } from "../types/async.js";
/**
 * Get document buffer
 *
 * @remarks
 * Retrieve the raw binary content of a document as a buffer. Used for in-memory document processing.<br><br>
 * <b>Overview:</b><br>
 * Returns the complete file content as a binary buffer. This is useful for server-side document processing, content analysis, or format conversion.<br><br>
 * <b>Use Cases:</b><br>
 * <ul>
 * <li>Document parsing and text extraction</li>
 * <li>Format conversion pipelines</li>
 * <li>Content analysis and indexing</li>
 * <li>Thumbnail generation</li>
 * </ul>
 * <b>Version Support:</b><br>
 * Specify <code>version</code> to get a specific historical version's content.<br><br>
 * <b>Memory Considerations:</b><br>
 * Large files will consume significant memory. For files &gt;100MB, consider using streaming download instead.<br><br>
 * <b>Response Format:</b><br>
 * Returns Node.js Buffer object serialized as JSON with type and data array.
 */
export function documentBufferGetDocumentBuffer(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => GetDocumentBufferRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = null;
    const pathParams$ = {
        documentId: encodeSimple("documentId", payload$.documentId, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/document/{documentId}/buffer")(pathParams$);
    const query$ = encodeFormQuery({
        "version": payload$.version,
    });
    const headers$ = new Headers(compactMap({
        Accept: "application/octet-stream",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "getDocumentBuffer",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "GET",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        query: query$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=documentBufferGetDocumentBuffer.js.map