/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { GetFolderContentsRequest$zodSchema, } from "../models/getfoldercontentsop.js";
import { APIPromise } from "../types/async.js";
/**
 * Get folder contents
 *
 * @remarks
 * Retrieve the contents of a folder including subfolders and records.<br><br>
 * <b>Overview:</b><br>
 * Returns paginated list of records within the folder, with same filtering options as KB-level record listing.<br><br>
 * <b>Navigation:</b><br>
 * Use this endpoint to browse folder hierarchies. Response includes folder metadata and child items.
 */
export function foldersGetFolderContents(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => GetFolderContentsRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = null;
    const pathParams$ = {
        folderId: encodeSimple("folderId", payload$.folderId, {
            explode: false,
            charEncoding: "percent",
        }),
        kbId: encodeSimple("kbId", payload$.kbId, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/knowledgeBase/{kbId}/folder/{folderId}")(pathParams$);
    const query$ = encodeFormQuery({
        "limit": payload$.limit,
        "page": payload$.page,
        "search": payload$.search,
        "sortBy": payload$.sortBy,
        "sortOrder": payload$.sortOrder,
    });
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "getFolderContents",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "GET",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        query: query$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=foldersGetFolderContents.js.map