/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { compactMap } from "../lib/primitives.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIPromise } from "../types/async.js";
/**
 * Delete organization logo
 *
 * @remarks
 * Remove the organization's custom logo.<br><br>
 * <b>Behavior:</b><br>
 * <ul>
 * <li>Logo file is permanently deleted from storage</li>
 * <li>Organization reverts to default/placeholder logo</li>
 * </ul>
 */
export function organizationsDeleteOrganizationLogo(client$, options) {
    return new APIPromise($do(client$, options));
}
async function $do(client$, options) {
    const path$ = pathToFunc("/org/logo")();
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "deleteOrganizationLogo",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "DELETE",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=organizationsDeleteOrganizationLogo.js.map