/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { compactMap } from "../lib/primitives.js";
import { pathToFunc } from "../lib/url.js";
import { APIPromise } from "../types/async.js";
/**
 * Check if organization exists
 *
 * @remarks
 * Check if any organization has been created in the system. This is typically the first API call made during initial setup.<br><br>
 * <b>Overview:</b><br>
 * This public endpoint determines whether the system has been initialized with an organization. Used by the frontend to decide whether to show the setup wizard or the login screen.<br><br>
 * <b>Use Cases:</b><br>
 * <ul>
 * <li>First-time setup detection</li>
 * <li>Onboarding flow decisions</li>
 * <li>System initialization checks</li>
 * </ul>
 * <b>Response:</b><br>
 * <ul>
 * <li><code>exists: true</code> - Organization exists, show login</li>
 * <li><code>exists: false</code> - No organization, show setup wizard</li>
 * </ul>
 * <b>Note:</b> This endpoint requires no authentication and is publicly accessible.
 */
export function organizationsCheckExists(client$, options) {
    return new APIPromise($do(client$, options));
}
async function $do(client$, options) {
    const path$ = pathToFunc("/org/exists")();
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "checkOrgExists",
        oAuth2Scopes: null,
        resolvedSecurity: null,
        securitySource: null,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        method: "GET",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=organizationsCheckExists.js.map