/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { compactMap } from "../lib/primitives.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIPromise } from "../types/async.js";
/**
 * Get queue statistics
 *
 * @remarks
 * Retrieve aggregate statistics about the crawling job queue.<br><br>
 *
 * <b>Overview:</b><br>
 * Returns real-time statistics about the BullMQ queue including job counts by state,
 * paused jobs, and repeatable job configurations. Useful for monitoring system health
 * and capacity planning.<br><br>
 *
 * <b>Statistics Included:</b><br>
 * <ul>
 * <li><b>waiting:</b> Jobs queued and waiting to be processed</li>
 * <li><b>active:</b> Jobs currently being processed by workers</li>
 * <li><b>completed:</b> Successfully completed jobs (limited retention)</li>
 * <li><b>failed:</b> Failed jobs (limited retention)</li>
 * <li><b>delayed:</b> Jobs scheduled for future execution</li>
 * <li><b>paused:</b> Manually paused jobs</li>
 * <li><b>repeatable:</b> Number of repeatable job configurations</li>
 * <li><b>total:</b> Sum of all job counts</li>
 * </ul>
 *
 * <b>Use Cases:</b><br>
 * <ul>
 * <li>Monitor queue health and throughput</li>
 * <li>Identify processing bottlenecks</li>
 * <li>Track failed job counts for alerting</li>
 * <li>Capacity planning based on queue depth</li>
 * </ul>
 */
export function queueManagementGetStats(client$, options) {
    return new APIPromise($do(client$, options));
}
async function $do(client$, options) {
    const path$ = pathToFunc("/crawlingManager/stats")();
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "getQueueStats",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "GET",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=queueManagementGetStats.js.map