/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { StreamRecordBufferRequest$zodSchema, } from "../models/streamrecordbufferop.js";
import { APIPromise } from "../types/async.js";
/**
 * Stream record content
 *
 * @remarks
 * Stream the binary content of a record's file.<br><br>
 * <b>Overview:</b><br>
 * Returns the raw file content with appropriate Content-Type and Content-Disposition headers for download or inline viewing.<br><br>
 * <b>Use Cases:</b><br>
 * <ul>
 * <li>File downloads</li>
 * <li>Inline document preview</li>
 * <li>Content extraction pipelines</li>
 * </ul>
 * <b>Format Conversion:</b><br>
 * Use <code>convertTo</code> parameter to convert between formats (e.g., DOCX to PDF).
 */
export function recordsStreamRecordBuffer(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => StreamRecordBufferRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = null;
    const pathParams$ = {
        recordId: encodeSimple("recordId", payload$.recordId, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/knowledgeBase/stream/record/{recordId}")(pathParams$);
    const query$ = encodeFormQuery({
        "convertTo": payload$.convertTo,
    });
    const headers$ = new Headers(compactMap({
        Accept: "application/octet-stream",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "streamRecordBuffer",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "GET",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        query: query$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=recordsStreamRecordBuffer.js.map