/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { DeleteRecordRequest$zodSchema, } from "../models/deleterecordop.js";
import { APIPromise } from "../types/async.js";
/**
 * Delete record
 *
 * @remarks
 * Permanently delete a record from the knowledge base.<br><br>
 * <b>Required Permission:</b> WRITER or higher<br><br>
 * <b>What Gets Deleted:</b><br>
 * <ul>
 * <li>Record metadata</li>
 * <li>Associated storage file</li>
 * <li>Indexed content and embeddings</li>
 * </ul>
 * <b>Warning:</b> This action is irreversible.
 */
export function recordsDelete(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => DeleteRecordRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = null;
    const pathParams$ = {
        recordId: encodeSimple("recordId", payload$.recordId, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/knowledgeBase/record/{recordId}")(pathParams$);
    const headers$ = new Headers(compactMap({
        Accept: "*/*",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "deleteRecord",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "DELETE",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=recordsDelete.js.map