/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { compactMap } from "../lib/primitives.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIPromise } from "../types/async.js";
/**
 * Reload SAML application configuration (Internal)
 *
 * @remarks
 * Internal endpoint to reload SAML configuration from the configuration manager.
 * This is called by other services when SAML settings are updated.<br><br>
 * <b>Purpose:</b><br>
 * When SAML configuration is updated in the Configuration Manager, this endpoint
 * is called to reload the settings into the authentication service without restart.<br><br>
 * <b>Effects:</b><br>
 * <ul>
 * <li>Reloads AppConfig from configuration files</li>
 * <li>Rebinds authentication controllers with new config</li>
 * <li>Updates SAML passport strategy settings</li>
 * </ul>
 * <b>Note:</b> This is an internal service-to-service endpoint.
 */
export function samlUpdateAppConfig(client$, security, options) {
    return new APIPromise($do(client$, security, options));
}
async function $do(client$, security, options) {
    const path$ = pathToFunc("/saml/updateAppConfig")();
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const requestSecurity = resolveSecurity([
        {
            fieldName: "Authorization",
            type: "http:bearer",
            value: security?.scopedToken,
        },
    ]);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "updateSamlAppConfig",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "POST",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=samlUpdateAppConfig.js.map