/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeFormQuery } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { GetUserTeamsRequest$zodSchema, } from "../models/getuserteamsop.js";
import { APIPromise } from "../types/async.js";
/**
 * Get current user's teams
 *
 * @remarks
 * Retrieve all teams that the authenticated user is a member of.<br><br>
 * <b>Response Details:</b><br>
 * <ul>
 * <li>Includes teams where user is owner, admin, member, or viewer</li>
 * <li>Returns user's role in each team</li>
 * <li>Sorted by most recently accessed</li>
 * </ul>
 * <b>Use Cases:</b><br>
 * <ul>
 * <li>Populating team switcher in UI</li>
 * <li>Dashboard team list</li>
 * <li>Access control checks</li>
 * </ul>
 */
export function teamsListForUser(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => GetUserTeamsRequest$zodSchema.optional().parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = null;
    const path$ = pathToFunc("/teams/user/teams")();
    const query$ = encodeFormQuery({
        "limit": payload$?.limit,
        "page": payload$?.page,
    });
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "getUserTeams",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "GET",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        query: query$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=teamsListForUser.js.map