/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeJSON } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { pathToFunc } from "../lib/url.js";
import { ForgotPasswordRequest$zodSchema, } from "../models/forgotpasswordrequest.js";
import { APIPromise } from "../types/async.js";
/**
 * Request password reset email
 *
 * @remarks
 * Send a password reset link to the user's email.
 * The link contains a time-limited token that can be used to reset the password.
 * <br><br>
 * <b>Note:</b> This endpoint always returns 200 even if the email doesn't exist (to prevent email enumeration).
 */
export function userAccountForgotPassword(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => ForgotPasswordRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = encodeJSON("body", payload$, { explode: true });
    const path$ = pathToFunc("/userAccount/password/forgot")();
    const headers$ = new Headers(compactMap({
        "Content-Type": "application/json",
        Accept: "application/json",
    }));
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "forgotPassword",
        oAuth2Scopes: null,
        resolvedSecurity: null,
        securitySource: null,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        method: "POST",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=userAccountForgotPassword.js.map