/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { UpdateUserFullNameRequest$zodSchema, } from "../models/updateuserfullnameop.js";
import { APIPromise } from "../types/async.js";
/**
 * Update user full name
 *
 * @remarks
 * Update the full name of a user. This is a targeted update endpoint for changing only the display name without affecting other profile fields.<br><br>
 * <b>Overview:</b><br>
 * This endpoint updates a user's fullName field, which is their primary display name throughout the application. The firstName and lastName fields may also be updated based on name parsing logic.<br><br>
 * <b>Authorization:</b><br>
 * <ul>
 * <li><b>Self-update:</b> Users can update their own full name</li>
 * <li><b>Admin-update:</b> Admins can update any user's name</li>
 * </ul>
 * <b>Side Effects:</b><br>
 * <ul>
 * <li>Updates fullName field</li>
 * <li>May parse and update firstName/lastName</li>
 * <li>User update event published</li>
 * <li>Cached user data invalidated</li>
 * </ul>
 * <b>Use Cases:</b><br>
 * <ul>
 * <li>User profile name change</li>
 * <li>Name correction by admin</li>
 * <li>Legal name update</li>
 * </ul>
 */
export function usersUpdateUserFullName(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => UpdateUserFullNameRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = encodeJSON("body", payload$.body, { explode: true });
    const pathParams$ = {
        id: encodeSimple("id", payload$.id, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/users/{id}/fullname")(pathParams$);
    const headers$ = new Headers(compactMap({
        "Content-Type": "application/json",
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "updateUserFullName",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "PATCH",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=usersUpdateUserFullName.js.map