/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { compactMap } from "../lib/primitives.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIPromise } from "../types/async.js";
/**
 * Remove display picture
 *
 * @remarks
 * Remove the current user's display picture and revert to default avatar.<br><br>
 * <b>Overview:</b><br>
 * This endpoint permanently removes the user's uploaded profile picture. After removal, the user will display a default avatar (typically initials or generic icon).<br><br>
 * <b>What Happens:</b><br>
 * <ul>
 * <li>Profile picture file is deleted from storage</li>
 * <li>User profile updated to remove picture reference</li>
 * <li>Cached images invalidated</li>
 * <li>Default avatar will be shown in UI</li>
 * </ul>
 * <b>Note:</b><br>
 * This action is immediate and irreversible. To restore a picture, user must upload a new one.
 */
export function usersRemoveDisplayPicture(client$, options) {
    return new APIPromise($do(client$, options));
}
async function $do(client$, options) {
    const path$ = pathToFunc("/users/dp")();
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "removeUserDisplayPicture",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "DELETE",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=usersRemoveDisplayPicture.js.map