/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeJSON } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { GetUsersByIdsRequest$zodSchema, } from "../models/getusersbyidsop.js";
import { APIPromise } from "../types/async.js";
/**
 * Get users by IDs (bulk)
 *
 * @remarks
 * Retrieve multiple users by their IDs in a single optimized request. Ideal for efficiently fetching a specific set of users.<br><br>
 * <b>Overview:</b><br>
 * This bulk endpoint allows fetching multiple users in a single API call, reducing network overhead when you need to display information about several known users.<br><br>
 * <b>Use Cases:</b><br>
 * <ul>
 * <li>Fetching user details for a list of team members</li>
 * <li>Populating user cards in a dashboard</li>
 * <li>Loading participants in a document or conversation</li>
 * <li>Building user mention/autocomplete features</li>
 * </ul>
 * <b>Request Format:</b><br>
 * <ul>
 * <li>Send array of user IDs in request body</li>
 * <li>Each ID must be valid 24-character MongoDB ObjectId</li>
 * <li>Maximum 100 IDs per request (for performance)</li>
 * <li>Duplicate IDs are automatically deduplicated</li>
 * </ul>
 * <b>Response Behavior:</b><br>
 * <ul>
 * <li>Returns array of found users</li>
 * <li>Order matches order of requested IDs</li>
 * <li>Non-existent or deleted users are silently omitted</li>
 * <li>Partial results returned if some IDs are invalid</li>
 * </ul>
 * <b>Performance Notes:</b><br>
 * Uses single database query with $in operator for optimal performance. Preferable to multiple individual user fetches.
 */
export function usersGetUsersByIds(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => GetUsersByIdsRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = encodeJSON("body", payload$, { explode: true });
    const path$ = pathToFunc("/users/by-ids")();
    const headers$ = new Headers(compactMap({
        "Content-Type": "application/json",
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "getUsersByIds",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "POST",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=usersGetUsersByIds.js.map