/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { GetInternalUserRequest$zodSchema, } from "../models/getinternaluserop.js";
import { APIPromise } from "../types/async.js";
/**
 * Get user (internal service-to-service)
 *
 * @remarks
 * Internal endpoint for service-to-service user lookup. Returns complete user data without privacy masking.<br><br>
 * <b>Overview:</b><br>
 * This internal endpoint provides full user data access for trusted backend services. Unlike public endpoints, it bypasses privacy controls and returns complete user information.<br><br>
 * <b>Security Model:</b><br>
 * <ul>
 * <li>Requires scoped token with USER_LOOKUP privilege</li>
 * <li>Not accessible via regular bearer tokens</li>
 * <li>Intended for trusted internal services only</li>
 * <li>All access is logged for audit purposes</li>
 * </ul>
 * <b>Intended Consumers:</b><br>
 * <ul>
 * <li>Email notification service</li>
 * <li>Analytics and reporting services</li>
 * <li>Audit logging service</li>
 * <li>Integration sync services</li>
 * </ul>
 * <b>Data Returned:</b><br>
 * Complete user object including fields that may be masked in public endpoints (email, phone, etc.).<br><br>
 * <b>Warning:</b><br>
 * This endpoint returns sensitive data. Ensure consuming services handle data according to privacy policies.
 */
export function usersGetInternalUser(client$, security, request, options) {
    return new APIPromise($do(client$, security, request, options));
}
async function $do(client$, security, request, options) {
    const parsed$ = safeParse(request, (value$) => GetInternalUserRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = null;
    const pathParams$ = {
        id: encodeSimple("id", payload$.id, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/users/internal/{id}")(pathParams$);
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const requestSecurity = resolveSecurity([
        {
            fieldName: "Authorization",
            type: "http:bearer",
            value: security?.scopedToken,
        },
    ]);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "getInternalUser",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "GET",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=usersGetInternalUser.js.map