/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { GetUserByIdRequest$zodSchema, } from "../models/getuserbyidop.js";
import { APIPromise } from "../types/async.js";
/**
 * Get user by ID
 *
 * @remarks
 * Retrieve detailed information about a specific user by their unique identifier.<br><br>
 * <b>Overview:</b><br>
 * This endpoint returns the complete user profile for the specified user ID. Use this to display user details in profiles, settings pages, or when you need full user information.<br><br>
 * <b>Response Data:</b><br>
 * <ul>
 * <li>Basic info: fullName, firstName, lastName, email</li>
 * <li>Contact: mobile, address</li>
 * <li>Professional: designation</li>
 * <li>Status: hasLoggedIn, isDeleted, accountStatus</li>
 * <li>Metadata: createdAt, updatedAt, createdBy</li>
 * </ul>
 * <b>Privacy Notes:</b><br>
 * <ul>
 * <li>Email may be masked for non-admin users based on org settings</li>
 * <li>Password and sensitive tokens are never returned</li>
 * <li>Display picture URL returned if set</li>
 * </ul>
 * <b>Related Endpoints:</b><br>
 * <ul>
 * <li><code>GET /users/{id}/email</code> - Get just the email (admin only)</li>
 * <li><code>GET /users/fetch/with-groups</code> - Get user with group memberships</li>
 * </ul>
 */
export function usersGetById(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => GetUserByIdRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = null;
    const pathParams$ = {
        id: encodeSimple("id", payload$.id, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/users/{id}")(pathParams$);
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "getUserById",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "GET",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=usersGetById.js.map