/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeFormQuery } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { GetAllUsersWithGroupsRequest$zodSchema, } from "../models/getalluserswithgroupsop.js";
import { APIPromise } from "../types/async.js";
/**
 * Get all users with their groups
 *
 * @remarks
 * Retrieve all users along with their group memberships in a single optimized query.<br><br>
 * <b>Overview:</b><br>
 * This endpoint returns users with their associated groups pre-loaded, eliminating the need for separate group lookup calls. Ideal for admin dashboards that need to display user permissions at a glance.<br><br>
 * <b>Use Cases:</b><br>
 * <ul>
 * <li>Admin dashboards showing user-group matrix</li>
 * <li>Permission auditing and compliance checks</li>
 * <li>Bulk user management interfaces</li>
 * <li>Access control visualization</li>
 * </ul>
 * <b>Response Data per User:</b><br>
 * <ul>
 * <li><code>_id</code>: User's unique identifier</li>
 * <li><code>userId</code>: User's public-facing ID</li>
 * <li><code>orgId</code>: Organization identifier</li>
 * <li><code>fullName</code>: User's display name</li>
 * <li><code>hasLoggedIn</code>: Whether user has ever logged in</li>
 * <li><code>groups</code>: Array of group objects with name and type</li>
 * </ul>
 * <b>Group Types Returned:</b><br>
 * <ul>
 * <li><code>admin</code>: Administrative groups with elevated permissions</li>
 * <li><code>standard</code>: Regular user groups</li>
 * <li><code>everyone</code>: Default group containing all org users</li>
 * <li><code>custom</code>: Custom groups created by admins</li>
 * </ul>
 * <b>Performance Notes:</b><br>
 * Uses aggregation pipeline for efficient single-query retrieval. Cached results for improved performance on large organizations.
 */
export function usersGetAllUsersWithGroups(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => GetAllUsersWithGroupsRequest$zodSchema.optional().parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = null;
    const path$ = pathToFunc("/users/fetch/with-groups")();
    const query$ = encodeFormQuery({
        "includeDeleted": payload$?.includeDeleted,
    });
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "getAllUsersWithGroups",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "GET",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        query: query$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=usersGetAllUsersWithGroups.js.map