/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { appendForm, encodeSimple } from "../lib/encodings.js";
import { getContentTypeFromFileName, readableStreamToArrayBuffer, } from "../lib/files.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { UploadNextVersionRequest$zodSchema, } from "../models/uploadnextversionop.js";
import { APIPromise } from "../types/async.js";
import { isBlobLike } from "../types/blobs.js";
import { isReadableStream } from "../types/streams.js";
/**
 * Upload next version
 *
 * @remarks
 * Upload a new version of a versioned document, maintaining full version history.<br><br>
 * <b>Overview:</b><br>
 * This endpoint creates a new version entry in the document's version history. The previous version remains accessible and the document can be rolled back if needed.<br><br>
 * <b>Version Control Flow:</b><br>
 * <ol>
 * <li>Upload new file content</li>
 * <li>System compares with previous version</li>
 * <li>If different, creates new version entry</li>
 * <li>Updates version history with metadata</li>
 * <li>Current document points to new version</li>
 * </ol>
 * <b>Version Entry Contains:</b><br>
 * <ul>
 * <li>Version number (auto-incremented)</li>
 * <li>Storage URL for this version</li>
 * <li>Size and extension</li>
 * <li>Optional note describing changes</li>
 * <li>User who created version</li>
 * <li>Timestamp</li>
 * </ul>
 * <b>Requirements:</b><br>
 * <ul>
 * <li>Document must have <code>isVersionedFile: true</code></li>
 * <li>File extension must match original document</li>
 * <li>Content must differ from previous version</li>
 * </ul>
 * <b>File Constraints:</b><br>
 * <ul>
 * <li>Maximum size: 100MB</li>
 * <li>Same extension as original required</li>
 * </ul>
 */
export function versionControlUploadNextVersion(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => UploadNextVersionRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = new FormData();
    if (isBlobLike(payload$.body.file)) {
        appendForm(body$, "file", payload$.body.file);
    }
    else if (isReadableStream(payload$.body.file.content)) {
        const buffer = await readableStreamToArrayBuffer(payload$.body.file.content);
        const contentType = getContentTypeFromFileName(payload$.body.file.fileName)
            || "application/octet-stream";
        const blob = new Blob([buffer], { type: contentType });
        appendForm(body$, "file", blob, payload$.body.file.fileName);
    }
    else {
        const contentType = getContentTypeFromFileName(payload$.body.file.fileName)
            || "application/octet-stream";
        appendForm(body$, "file", new Blob([payload$.body.file.content], { type: contentType }), payload$.body.file.fileName);
    }
    if (payload$.body.currentVersionNote !== undefined) {
        appendForm(body$, "currentVersionNote", payload$.body.currentVersionNote);
    }
    if (payload$.body.nextVersionNote !== undefined) {
        appendForm(body$, "nextVersionNote", payload$.body.nextVersionNote);
    }
    const pathParams$ = {
        documentId: encodeSimple("documentId", payload$.documentId, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/document/{documentId}/uploadNextVersion")(pathParams$);
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "uploadNextVersion",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "POST",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=versionControlUploadNextVersion.js.map