/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { RollBackToPreviousVersionRequest$zodSchema, } from "../models/rollbacktopreviousversionop.js";
import { APIPromise } from "../types/async.js";
/**
 * Rollback to previous version
 *
 * @remarks
 * Restore a versioned document to a previous version. Creates a new version entry with the rolled-back content.<br><br>
 * <b>Overview:</b><br>
 * This endpoint allows reverting a document to any previous version while maintaining the complete version history. The rollback itself creates a new version entry.<br><br>
 * <b>Rollback Flow:</b><br>
 * <ol>
 * <li>Specify target version number to rollback to</li>
 * <li>System retrieves content from that version</li>
 * <li>Creates new version entry with restored content</li>
 * <li>Adds rollback note to version history</li>
 * <li>Document now shows restored content</li>
 * </ol>
 * <b>Version History Preserved:</b><br>
 * Rollback does NOT delete intermediate versions. Full history remains intact for audit purposes.<br><br>
 * <b>Requirements:</b><br>
 * <ul>
 * <li>Document must be versioned</li>
 * <li>Target version must exist (less than current version count)</li>
 * <li>Note explaining rollback reason is required</li>
 * </ul>
 * <b>Use Cases:</b><br>
 * <ul>
 * <li>Reverting accidental changes</li>
 * <li>Restoring to known-good state</li>
 * <li>Undoing problematic updates</li>
 * </ul>
 */
export function versionControlRollback(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => RollBackToPreviousVersionRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = encodeJSON("body", payload$.body, { explode: true });
    const pathParams$ = {
        documentId: encodeSimple("documentId", payload$.documentId, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/document/{documentId}/rollBack")(pathParams$);
    const headers$ = new Headers(compactMap({
        "Content-Type": "application/json",
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "rollBackToPreviousVersion",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "POST",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=versionControlRollback.js.map