/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { CheckDocumentModifiedRequest$zodSchema, } from "../models/checkdocumentmodifiedop.js";
import { APIPromise } from "../types/async.js";
/**
 * Check if document is modified
 *
 * @remarks
 * Check if the current document content differs from the last saved version. Useful for detecting unsaved changes.<br><br>
 * <b>Overview:</b><br>
 * Compares the current document buffer with the most recent version in history to detect modifications. Returns true if content has changed since last version.<br><br>
 * <b>Use Cases:</b><br>
 * <ul>
 * <li>Prompting user to save before closing</li>
 * <li>Auto-save decision making</li>
 * <li>Version creation validation</li>
 * <li>Change detection in workflows</li>
 * </ul>
 * <b>Comparison Method:</b><br>
 * Performs binary comparison of file buffers. Identical content returns false even if edited and reverted.<br><br>
 * <b>Requirements:</b><br>
 * Document must be versioned to have comparison baseline.
 */
export function versionControlCheckModified(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => CheckDocumentModifiedRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = null;
    const pathParams$ = {
        documentId: encodeSimple("documentId", payload$.documentId, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/document/{documentId}/isModified")(pathParams$);
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "checkDocumentModified",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "GET",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=versionControlCheckModified.js.map