/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SDKCore } from "../core.js";
import { encodeFormQuery } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  GetConnectorRegistryRequest,
  GetConnectorRegistryRequest$zodSchema,
  GetConnectorRegistrySecurity,
} from "../models/getconnectorregistryop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * List available connector types
 *
 * @remarks
 * Get all available connector types from the registry.<br><br>
 * <b>Overview:</b><br>
 * The registry contains all connector types that can be configured as instances.
 * Each type has specific authentication requirements, supported scopes, and capabilities.<br><br>
 * <b>Connector Types Include:</b><br>
 * <ul>
 * <li><b>Google Workspace:</b> Drive, Gmail, Calendar, etc.</li>
 * <li><b>Microsoft 365:</b> OneDrive, Outlook, SharePoint, etc.</li>
 * <li><b>Cloud Storage:</b> Dropbox, Box, AWS S3</li>
 * <li><b>Collaboration:</b> Slack, Confluence, Notion, Jira</li>
 * <li><b>Databases:</b> PostgreSQL, MySQL, MongoDB</li>
 * </ul>
 * <b>Filtering:</b><br>
 * Use <code>scope</code> to filter by team or personal connectors.
 * Use <code>search</code> for full-text search across connector names.
 */
export function connectorRegistryGetConnectorRegistry(
  client$: SDKCore,
  security: GetConnectorRegistrySecurity,
  request?: GetConnectorRegistryRequest | undefined,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    security,
    request,
    options,
  ));
}

async function $do(
  client$: SDKCore,
  security: GetConnectorRegistrySecurity,
  request?: GetConnectorRegistryRequest | undefined,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => GetConnectorRegistryRequest$zodSchema.optional().parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = null;
  const path$ = pathToFunc("/connectors/registry")();
  const query$ = encodeFormQuery({
    "limit": payload$?.limit,
    "page": payload$?.page,
    "scope": payload$?.scope,
    "search": payload$?.search,
  });

  const headers$ = new Headers(compactMap({
    Accept: "application/json",
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "Authorization",
        type: "http:bearer",
        value: security?.bearerAuth,
      },
    ],
    [
      {
        type: "oauth2:client_credentials",
        value: {
          clientID: security?.oauth2?.clientID,
          clientSecret: security?.oauth2?.clientSecret,
        },
      },
    ],
  );

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "getConnectorRegistry",
    oAuth2Scopes: ["connector:read"],
    resolvedSecurity: requestSecurity,
    securitySource: security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    query: query$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
