/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { PipeshubCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  CreateConversationRequest,
  CreateConversationRequest$zodSchema,
} from "../models/createconversationrequest.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Create a new AI conversation (non-streaming)
 *
 * @remarks
 * Start a new conversation with PipesHub's AI assistant and wait for the
 * full response in a single JSON body. For an interactive / token-by-token
 * experience use <code>POST /conversations/stream</code> instead;
 * the request body is identical.<br><br>
 * <b>How It Works:</b><br>
 * <ol>
 * <li>Your query is analyzed and converted to semantic embeddings</li>
 * <li>Relevant content is retrieved from indexed knowledge bases</li>
 * <li>The AI generates a response using the retrieved context</li>
 * <li>Citations link back to source documents for verification</li>
 * <li>Follow-up questions are suggested based on the conversation</li>
 * </ol>
 * <b>Response Shape:</b><br>
 * The 201 body is <code>{ conversation, meta }</code> — the same payload
 * as the SSE <code>complete</code> frame from
 * <code>/conversations/stream</code> (modelled by
 * <code>SSECompleteData</code>). The user query and the AI's response are
 * both persisted as messages on <code>conversation.messages</code>;
 * citations are populated under each bot message.<br><br>
 * <b>Filtering Options:</b><br>
 * <ul>
 * <li><b>recordIds:</b> Limit search to specific documents</li>
 * <li><b>filters.apps:</b> Search only specific connector apps</li>
 * <li><b>filters.kb:</b> Search only specific knowledge bases</li>
 * </ul>
 * <b>Model Selection:</b><br>
 * Use <code>modelKey</code> to select different AI models configured for
 * your organization. Each model may have different capabilities, speed,
 * and accuracy trade-offs.<br><br>
 * <b>Failure mode:</b><br>
 * On AI backend failure the conversation is still persisted (with
 * <code>status = "Failed"</code> and a <code>failReason</code>) and the
 * endpoint returns a 500 with a JSON error body. Callers can correlate
 * with the persisted record via <code>conversationId</code> if they
 * retain it from logs.
 */
export function conversationsCreateConversation(
  client$: PipeshubCore,
  request: CreateConversationRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: PipeshubCore,
  request: CreateConversationRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => CreateConversationRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = encodeJSON("body", payload$, { explode: true });
  const path$ = pathToFunc("/conversations/create")();

  const headers$ = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "createConversation",
    oAuth2Scopes: ["conversation:write"],
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
