/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SDKCore } from "../core.js";
import { encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  GetCrawlingJobStatusRequest,
  GetCrawlingJobStatusRequest$zodSchema,
  GetCrawlingJobStatusSecurity,
} from "../models/getcrawlingjobstatusop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get crawling job status
 *
 * @remarks
 * Retrieve the current status of a scheduled crawling job for a specific connector.<br><br>
 *
 * <b>Overview:</b><br>
 * Returns detailed information about the most recent crawling job for the specified connector,
 * including its current state, progress, timing information, and any error details.<br><br>
 *
 * <b>Job States:</b><br>
 * <ul>
 * <li><b>waiting:</b> Job is queued and waiting to be processed</li>
 * <li><b>active:</b> Job is currently being processed by a worker</li>
 * <li><b>completed:</b> Job finished successfully</li>
 * <li><b>failed:</b> Job failed after exhausting retry attempts</li>
 * <li><b>delayed:</b> Job is scheduled for future execution</li>
 * <li><b>paused:</b> Job has been manually paused</li>
 * </ul>
 *
 * <b>Access Control:</b><br>
 * Same as scheduling - team connectors require admin, personal connectors require creator.
 */
export function crawlingJobsGetCrawlingJobStatus(
  client$: SDKCore,
  security: GetCrawlingJobStatusSecurity,
  request: GetCrawlingJobStatusRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    security,
    request,
    options,
  ));
}

async function $do(
  client$: SDKCore,
  security: GetCrawlingJobStatusSecurity,
  request: GetCrawlingJobStatusRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => GetCrawlingJobStatusRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = null;

  const pathParams$ = {
    connector: encodeSimple("connector", payload$.connector, {
      explode: false,
      charEncoding: "percent",
    }),
    connectorId: encodeSimple("connectorId", payload$.connectorId, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path$ = pathToFunc(
    "/crawlingManager/{connector}/{connectorId}/schedule",
  )(
    pathParams$,
  );

  const headers$ = new Headers(compactMap({
    Accept: "application/json",
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "Authorization",
        type: "http:bearer",
        value: security?.bearerAuth,
      },
    ],
    [
      {
        type: "oauth2:client_credentials",
        value: {
          clientID: security?.oauth2?.clientID,
          clientSecret: security?.oauth2?.clientSecret,
        },
      },
    ],
  );

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "getCrawlingJobStatus",
    oAuth2Scopes: ["crawl:read"],
    resolvedSecurity: requestSecurity,
    securitySource: security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
