/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SDKCore } from "../core.js";
import { encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  RemoveCrawlingJobRequest,
  RemoveCrawlingJobRequest$zodSchema,
  RemoveCrawlingJobSecurity,
} from "../models/removecrawlingjobop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Remove a crawling job
 *
 * @remarks
 * Permanently remove a scheduled crawling job for a specific connector.<br><br>
 *
 * <b>Overview:</b><br>
 * Removes the crawling job and all associated data from the queue. This includes
 * removing repeatable job configurations and cleaning up job history.<br><br>
 *
 * <b>What Gets Removed:</b><br>
 * <ul>
 * <li>Active or waiting job instances</li>
 * <li>Repeatable job configuration (for recurring schedules)</li>
 * <li>Paused job information</li>
 * <li>Job mappings and metadata</li>
 * </ul>
 *
 * <b>Note:</b> Completed and failed job records may be retained for audit purposes.
 *
 * <b>Related Endpoints:</b><br>
 * <ul>
 * <li><code>DELETE /crawlingManager/schedule/all</code> - Remove all jobs for organization</li>
 * </ul>
 */
export function crawlingJobsRemoveCrawlingJob(
  client$: SDKCore,
  security: RemoveCrawlingJobSecurity,
  request: RemoveCrawlingJobRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    security,
    request,
    options,
  ));
}

async function $do(
  client$: SDKCore,
  security: RemoveCrawlingJobSecurity,
  request: RemoveCrawlingJobRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => RemoveCrawlingJobRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = null;

  const pathParams$ = {
    connector: encodeSimple("connector", payload$.connector, {
      explode: false,
      charEncoding: "percent",
    }),
    connectorId: encodeSimple("connectorId", payload$.connectorId, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path$ = pathToFunc("/crawlingManager/{connector}/{connectorId}/remove")(
    pathParams$,
  );

  const headers$ = new Headers(compactMap({
    Accept: "application/json",
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "Authorization",
        type: "http:bearer",
        value: security?.bearerAuth,
      },
    ],
    [
      {
        type: "oauth2:client_credentials",
        value: {
          clientID: security?.oauth2?.clientID,
          clientSecret: security?.oauth2?.clientSecret,
        },
      },
    ],
  );

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "removeCrawlingJob",
    oAuth2Scopes: ["crawl:delete"],
    resolvedSecurity: requestSecurity,
    securitySource: security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "DELETE",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
