/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SDKCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  DownloadDocumentRequest,
  DownloadDocumentRequest$zodSchema,
  DownloadDocumentSecurity,
} from "../models/downloaddocumentop.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

export enum DownloadDocumentAcceptEnum {
  applicationJsonAccept = "application/json",
  applicationOctetStreamAccept = "application/octet-stream",
}

/**
 * Download document
 *
 * @remarks
 * Get a time-limited signed URL to download the document, or receive the file directly for local storage.<br><br>
 * <b>Overview:</b><br>
 * This endpoint generates secure download access to documents. For cloud storage (S3/Azure), it returns a presigned URL. For local storage, it streams the file directly.<br><br>
 * <b>Download Behavior by Storage:</b><br>
 * <ul>
 * <li><b>S3/Azure:</b> Returns presigned URL valid for specified duration</li>
 * <li><b>Local:</b> Streams file directly with appropriate headers</li>
 * </ul>
 * <b>Version Download:</b><br>
 * Specify the <code>version</code> parameter to download a specific historical version. Only available for versioned documents.<br><br>
 * <b>URL Expiration:</b><br>
 * <ul>
 * <li>Default: 3600 seconds (1 hour)</li>
 * <li>Configurable via <code>expirationTimeInSeconds</code></li>
 * <li>Maximum depends on storage provider limits</li>
 * </ul>
 * <b>Security:</b><br>
 * Signed URLs are single-use and time-limited. They can be safely shared for temporary access.
 */
export function documentManagementDownloadDocument(
  client$: SDKCore,
  security: DownloadDocumentSecurity,
  request: DownloadDocumentRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    security,
    request,
    options,
  ));
}

async function $do(
  client$: SDKCore,
  security: DownloadDocumentSecurity,
  request: DownloadDocumentRequest,
  options?: RequestOptions & {
    acceptHeaderOverride?: DownloadDocumentAcceptEnum;
  },
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => DownloadDocumentRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = null;

  const pathParams$ = {
    documentId: encodeSimple("documentId", payload$.documentId, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path$ = pathToFunc("/document/{documentId}/download")(
    pathParams$,
  );
  const query$ = encodeFormQuery({
    "expirationTimeInSeconds": payload$.expirationTimeInSeconds,
    "version": payload$.version,
  });

  const headers$ = new Headers(compactMap({
    Accept: options?.acceptHeaderOverride
      || "application/json;q=1, application/octet-stream;q=0",
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "Authorization",
        type: "http:bearer",
        value: security?.bearerAuth,
      },
    ],
    [
      {
        type: "oauth2:client_credentials",
        value: {
          clientID: security?.oauth2?.clientID,
          clientSecret: security?.oauth2?.clientSecret,
        },
      },
    ],
  );

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "downloadDocument",
    oAuth2Scopes: ["document:read"],
    resolvedSecurity: requestSecurity,
    securitySource: security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    query: query$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
