/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { PipeshubCore } from "../core.js";
import { encodeFormQuery } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  GetKnowledgeHubRootNodesRequest,
  GetKnowledgeHubRootNodesRequest$zodSchema,
} from "../models/getknowledgehubrootnodesop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * List knowledge hub root nodes (connectors + collections)
 *
 * @remarks
 * Retrieve the top-level "apps" in the knowledge hub — every connector
 * instance the org has wired up, plus the synthetic <code>Collections</code>
 * node representing the org's knowledge base. The <code>id</code> of each
 * item is exactly the value to put into a chat / search request's
 * <code>filters.apps</code>.<br><br>
 * <b>Use cases:</b>
 * <ul>
 * <li>Resolve user phrases like "search Box" or "search the knowledge base"
 *     into the right `filters.apps` ids before calling chat / search.</li>
 * <li>Show users which sources are available before chatting.</li>
 * <li>Build a file-browser UI rooted at this list.</li>
 * </ul>
 * <b>Item id formats you'll see at the root:</b>
 * <ul>
 * <li>Connector instance UUID — e.g.
 *     <code>7d672a98-8fe0-46d4-b170-0d5f270a2dc9</code> (one per
 *     connected source). <code>connector</code> is the source name
 *     (<code>Box</code>, <code>Drive</code>, <code>Confluence</code>,
 *     ...).</li>
 * <li>Synthetic KB id — <code>knowledgeBase_&lt;orgId&gt;</code> with
 *     <code>connector: "KB"</code>. Pass this in
 *     <code>filters.apps</code> to include the org's knowledge base
 *     as a chat / search source.</li>
 * </ul>
 * Query params accept camelCase (`sortBy`, `sortOrder`, `nodeTypes`,
 * `connectorIds`, etc.) — they are translated to snake_case before
 * forwarding to the upstream service.
 */
export function knowledgeHubGetKnowledgeHubRootNodes(
  client$: PipeshubCore,
  request?: GetKnowledgeHubRootNodesRequest | undefined,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: PipeshubCore,
  request?: GetKnowledgeHubRootNodesRequest | undefined,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) =>
      GetKnowledgeHubRootNodesRequest$zodSchema.optional().parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = null;
  const path$ = pathToFunc("/knowledgeBase/knowledge-hub/nodes")();
  const query$ = encodeFormQuery({
    "connectorIds": payload$?.connectorIds,
    "createdAt": payload$?.createdAt,
    "flattened": payload$?.flattened,
    "include": payload$?.include,
    "indexingStatus": payload$?.indexingStatus,
    "limit": payload$?.limit,
    "nodeTypes": payload$?.nodeTypes,
    "only_containers": payload$?.only_containers,
    "origins": payload$?.origins,
    "page": payload$?.page,
    "q": payload$?.q,
    "recordTypes": payload$?.recordTypes,
    "size": payload$?.size,
    "sortBy": payload$?.sortBy,
    "sortOrder": payload$?.sortOrder,
    "updatedAt": payload$?.updatedAt,
  });

  const headers$ = new Headers(compactMap({
    Accept: "application/json",
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "getKnowledgeHubRootNodes",
    oAuth2Scopes: ["kb:read"],
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    query: query$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
