/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SDKCore } from "../core.js";
import { appendForm } from "../lib/encodings.js";
import {
  getContentTypeFromFileName,
  readableStreamToArrayBuffer,
} from "../lib/files.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  UploadOrganizationLogoRequest,
  UploadOrganizationLogoRequest$zodSchema,
  UploadOrganizationLogoSecurity,
} from "../models/uploadorganizationlogoop.js";
import { APICall, APIPromise } from "../types/async.js";
import { isBlobLike } from "../types/blobs.js";
import { Result } from "../types/fp.js";
import { isReadableStream } from "../types/streams.js";

/**
 * Upload organization logo
 *
 * @remarks
 * Upload or update the organization's logo image.<br><br>
 * <b>Supported Formats:</b><br>
 * <ul>
 * <li>PNG (recommended for transparency)</li>
 * <li>JPG/JPEG</li>
 * <li>SVG</li>
 * <li>WebP</li>
 * </ul>
 * <b>Requirements:</b><br>
 * <ul>
 * <li>Maximum file size: 5MB</li>
 * <li>Recommended dimensions: 256x256 pixels or higher</li>
 * <li>Square aspect ratio recommended</li>
 * </ul>
 * <b>Side Effects:</b><br>
 * <ul>
 * <li>Previous logo is replaced</li>
 * <li>Multiple sizes may be generated for different use cases</li>
 * </ul>
 */
export function organizationsUploadOrganizationLogo(
  client$: SDKCore,
  security: UploadOrganizationLogoSecurity,
  request: UploadOrganizationLogoRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    security,
    request,
    options,
  ));
}

async function $do(
  client$: SDKCore,
  security: UploadOrganizationLogoSecurity,
  request: UploadOrganizationLogoRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => UploadOrganizationLogoRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = new FormData();
  if (isBlobLike(payload$.logo)) {
    appendForm(body$, "logo", payload$.logo);
  } else if (isReadableStream(payload$.logo.content)) {
    const buffer = await readableStreamToArrayBuffer(payload$.logo.content);
    const contentType = getContentTypeFromFileName(payload$.logo.fileName)
      || "application/octet-stream";
    const blob = new Blob([buffer], { type: contentType });
    appendForm(body$, "logo", blob, payload$.logo.fileName);
  } else {
    const contentType = getContentTypeFromFileName(payload$.logo.fileName)
      || "application/octet-stream";
    appendForm(
      body$,
      "logo",
      new Blob([payload$.logo.content], { type: contentType }),
      payload$.logo.fileName,
    );
  }
  const path$ = pathToFunc("/org/logo")();

  const headers$ = new Headers(compactMap({
    Accept: "application/json",
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "Authorization",
        type: "http:bearer",
        value: security?.bearerAuth,
      },
    ],
    [
      {
        type: "oauth2:client_credentials",
        value: {
          clientID: security?.oauth2?.clientID,
          clientSecret: security?.oauth2?.clientSecret,
        },
      },
    ],
  );

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "uploadOrganizationLogo",
    oAuth2Scopes: ["org:write"],
    resolvedSecurity: requestSecurity,
    securitySource: security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "PUT",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
