/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { PipeshubCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  StreamRecordBufferRequest,
  StreamRecordBufferRequest$zodSchema,
} from "../models/streamrecordbufferop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

export enum StreamRecordBufferAcceptEnum {
  applicationJsonAccept = "application/json",
  applicationOctetStreamAccept = "application/octet-stream",
  wildcardRootWildcardAccept = "*/*",
}

/**
 * Stream record content
 *
 * @remarks
 * Stream the binary content of a record's file.<br><br>
 * <b>Overview:</b><br>
 * Proxies the upstream connector backend and pipes the file bytes back
 * to the caller. The response <code>Content-Type</code> and
 * <code>Content-Disposition</code> are forwarded from the upstream — for
 * most records this is <code>application/octet-stream</code> with a
 * filename, but a converted file (see <code>convertTo</code>) returns
 * the converted MIME type (e.g. <code>application/pdf</code>).<br><br>
 * <b>Use Cases:</b><br>
 * <ul>
 * <li>File downloads</li>
 * <li>Inline document preview</li>
 * <li>Content extraction pipelines</li>
 * <li>Tool / MCP callers fetching a document the chat just cited</li>
 * </ul>
 * <b>How a programmatic / MCP caller obtains <code>recordId</code>:</b><br>
 * <ol>
 * <li><b>From a prior chat (preferred).</b> After
 *     <code>POST /conversations/stream</code> emits its <code>complete</code>
 *     SSE frame, walk
 *     <code>conversation.messages[*].citations[*].metadata.recordId</code>
 *     (and <code>metadata.recordName</code> for display) — those are the records
 *     the AI grounded its answer in. Pass any of those ids straight to this
 *     endpoint to download the underlying file.</li>
 * <li><b>From a filename / topic / natural-language description.</b> If the
 *     user gave you a name or topic instead of an id (e.g. "download the
 *     langchain doc"), call <code>POST /search</code> with that phrase as
 *     <code>query</code>. Read the resulting record id from
 *     <code>searchResponse.searchResults[*].metadata.recordId</code>
 *     (or, equivalently, any key in
 *     <code>searchResponse.virtual_to_record_map</code>). If multiple
 *     distinct records match, ask the user to disambiguate before
 *     downloading.</li>
 * </ol>
 * <b>Format Conversion:</b><br>
 * Use <code>convertTo</code> to convert between formats (e.g. DOCX → PDF).
 * When set, the response <code>Content-Type</code> reflects the converted
 * format, not the original.<br><br>
 * <b>Error shape:</b><br>
 * On failure the endpoint returns JSON: <code>{ "error": "..." }</code>
 * with the upstream status code (e.g. 404 for unknown record, 403 if the
 * caller lacks read permission on the record).
 */
export function recordsStreamRecordBuffer(
  client$: PipeshubCore,
  request: StreamRecordBufferRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: PipeshubCore,
  request: StreamRecordBufferRequest,
  options?: RequestOptions & {
    acceptHeaderOverride?: StreamRecordBufferAcceptEnum;
  },
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => StreamRecordBufferRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = null;

  const pathParams$ = {
    recordId: encodeSimple("recordId", payload$.recordId, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path$ = pathToFunc("/knowledgeBase/stream/record/{recordId}")(
    pathParams$,
  );
  const query$ = encodeFormQuery({
    "convertTo": payload$.convertTo,
  });

  const headers$ = new Headers(compactMap({
    Accept: options?.acceptHeaderOverride
      || "application/json;q=1, application/octet-stream;q=0.7, */*;q=0",
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "streamRecordBuffer",
    oAuth2Scopes: ["kb:read"],
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    query: query$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
