/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SDKCore } from "../core.js";
import { encodeFormQuery } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  GetAllRecordsRequest,
  GetAllRecordsRequest$zodSchema,
  GetAllRecordsSecurity,
} from "../models/getallrecordsop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get all records across knowledge bases
 *
 * @remarks
 * Retrieve records from all knowledge bases accessible to the user.<br><br>
 * <b>Overview:</b><br>
 * Search and filter records across your entire organization. Useful for global search, reporting, and cross-KB content discovery.<br><br>
 * <b>Filtering Options:</b><br>
 * <ul>
 * <li><b>search:</b> Full-text search in record names</li>
 * <li><b>recordTypes:</b> FILE, WEBPAGE, EMAIL, MESSAGE, TICKET, etc.</li>
 * <li><b>origins:</b> UPLOAD or CONNECTOR</li>
 * <li><b>connectors:</b> Filter by connector source</li>
 * <li><b>indexingStatus:</b> COMPLETED, FAILED, IN_PROGRESS, etc.</li>
 * <li><b>dateFrom/dateTo:</b> Filter by creation date range</li>
 * </ul>
 * <b>Response Includes:</b><br>
 * <ul>
 * <li>Paginated record list</li>
 * <li>Applied and available filter counts</li>
 * <li>Pagination metadata</li>
 * </ul>
 */
export function recordsGetAllRecords(
  client$: SDKCore,
  security: GetAllRecordsSecurity,
  request?: GetAllRecordsRequest | undefined,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    security,
    request,
    options,
  ));
}

async function $do(
  client$: SDKCore,
  security: GetAllRecordsSecurity,
  request?: GetAllRecordsRequest | undefined,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => GetAllRecordsRequest$zodSchema.optional().parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = null;
  const path$ = pathToFunc("/knowledgeBase/records")();
  const query$ = encodeFormQuery({
    "connectors": payload$?.connectors,
    "dateFrom": payload$?.dateFrom,
    "dateTo": payload$?.dateTo,
    "indexingStatus": payload$?.indexingStatus,
    "limit": payload$?.limit,
    "origins": payload$?.origins,
    "page": payload$?.page,
    "recordTypes": payload$?.recordTypes,
    "search": payload$?.search,
    "sortBy": payload$?.sortBy,
    "sortOrder": payload$?.sortOrder,
  });

  const headers$ = new Headers(compactMap({
    Accept: "application/json",
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "Authorization",
        type: "http:bearer",
        value: security?.bearerAuth,
      },
    ],
    [
      {
        type: "oauth2:client_credentials",
        value: {
          clientID: security?.oauth2?.clientID,
          clientSecret: security?.oauth2?.clientSecret,
        },
      },
    ],
  );

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "getAllRecords",
    oAuth2Scopes: ["kb:read"],
    resolvedSecurity: requestSecurity,
    securitySource: security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    query: query$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
