/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SDKCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  GetKBRecordsRequest,
  GetKBRecordsRequest$zodSchema,
  GetKBRecordsSecurity,
} from "../models/getkbrecordsop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get records for a knowledge base
 *
 * @remarks
 * Retrieve a paginated list of records within a specific knowledge base.<br><br>
 * <b>Overview:</b><br>
 * Returns all records (documents, files, content) stored in the specified KB, with powerful filtering and sorting capabilities.<br><br>
 * <b>Filtering:</b><br>
 * <ul>
 * <li><b>search:</b> Search by record name (partial match, max 1000 chars)</li>
 * <li><b>recordTypes:</b> FILE, WEBPAGE, COMMENT, MESSAGE, EMAIL, TICKET</li>
 * <li><b>origins:</b> UPLOAD (manual uploads) or CONNECTOR (synced)</li>
 * <li><b>indexingStatus:</b> Filter by processing state</li>
 * <li><b>dateFrom/dateTo:</b> Creation date range (Unix timestamps)</li>
 * </ul>
 * <b>Sorting:</b><br>
 * Default sorts by <code>createdAtTimestamp</code> descending (newest first).
 */
export function recordsGetKBRecords(
  client$: SDKCore,
  security: GetKBRecordsSecurity,
  request: GetKBRecordsRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    security,
    request,
    options,
  ));
}

async function $do(
  client$: SDKCore,
  security: GetKBRecordsSecurity,
  request: GetKBRecordsRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => GetKBRecordsRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = null;

  const pathParams$ = {
    kbId: encodeSimple("kbId", payload$.kbId, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path$ = pathToFunc("/knowledgeBase/{kbId}/records")(
    pathParams$,
  );
  const query$ = encodeFormQuery({
    "dateFrom": payload$.dateFrom,
    "dateTo": payload$.dateTo,
    "indexingStatus": payload$.indexingStatus,
    "limit": payload$.limit,
    "origins": payload$.origins,
    "page": payload$.page,
    "recordTypes": payload$.recordTypes,
    "search": payload$.search,
    "sortBy": payload$.sortBy,
    "sortOrder": payload$.sortOrder,
  });

  const headers$ = new Headers(compactMap({
    Accept: "application/json",
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "Authorization",
        type: "http:bearer",
        value: security?.bearerAuth,
      },
    ],
    [
      {
        type: "oauth2:client_credentials",
        value: {
          clientID: security?.oauth2?.clientID,
          clientSecret: security?.oauth2?.clientSecret,
        },
      },
    ],
  );

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "getKBRecords",
    oAuth2Scopes: ["kb:read"],
    resolvedSecurity: requestSecurity,
    securitySource: security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    query: query$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
