/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SDKCore } from "../core.js";
import { appendForm, encodeSimple } from "../lib/encodings.js";
import {
  getContentTypeFromFileName,
  readableStreamToArrayBuffer,
} from "../lib/files.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  UpdateRecordRequest,
  UpdateRecordRequest$zodSchema,
} from "../models/updaterecordop.js";
import { APICall, APIPromise } from "../types/async.js";
import { isBlobLike } from "../types/blobs.js";
import { Result } from "../types/fp.js";
import { isReadableStream } from "../types/streams.js";

/**
 * Update record
 *
 * @remarks
 * Update a record's name and/or file content.<br><br>
 * <b>Overview:</b><br>
 * Allows updating the display name and optionally replacing the file content. Triggers re-indexing when content changes.<br><br>
 * <b>Required Permission:</b> WRITER or higher<br><br>
 * <b>Updating File Content:</b><br>
 * Include a new file in the request to replace the existing content. The file extension must match the original.<br><br>
 * <b>Side Effects:</b><br>
 * <ul>
 * <li>Updates <code>updatedAtTimestamp</code></li>
 * <li>Increments version if file content changed</li>
 * <li>Triggers re-indexing for content changes</li>
 * </ul>
 */
export function recordsUpdateRecord(
  client$: SDKCore,
  request: UpdateRecordRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: SDKCore,
  request: UpdateRecordRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => UpdateRecordRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = new FormData();
  if (payload$.body != null) {
    if (payload$.body.file !== undefined) {
      if (isBlobLike(payload$.body.file)) {
        appendForm(body$, "file", payload$.body.file);
      } else if (isReadableStream(payload$.body.file.content)) {
        const buffer = await readableStreamToArrayBuffer(
          payload$.body.file.content,
        );
        const contentType =
          getContentTypeFromFileName(payload$.body.file.fileName)
          || "application/octet-stream";
        const blob = new Blob([buffer], { type: contentType });
        appendForm(body$, "file", blob, payload$.body.file.fileName);
      } else {
        const contentType =
          getContentTypeFromFileName(payload$.body.file.fileName)
          || "application/octet-stream";
        appendForm(
          body$,
          "file",
          new Blob([payload$.body.file.content], { type: contentType }),
          payload$.body.file.fileName,
        );
      }
    }
    if (payload$.body.recordName !== undefined) {
      appendForm(body$, "recordName", payload$.body.recordName);
    }
  }

  const pathParams$ = {
    recordId: encodeSimple("recordId", payload$.recordId, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path$ = pathToFunc("/knowledgeBase/record/{recordId}")(
    pathParams$,
  );

  const headers$ = new Headers(compactMap({
    Accept: "application/json",
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "updateRecord",
    oAuth2Scopes: null,
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "PUT",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
