/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SDKCore } from "../core.js";
import { encodeFormQuery } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  SignInViaSAMLRequest,
  SignInViaSAMLRequest$zodSchema,
} from "../models/signinviasamlop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Initiate SAML sign-in flow
 *
 * @remarks
 * Initiate SAML Single Sign-On authentication by redirecting to the Identity Provider (IDP).
 * <br><br>
 * <b>Usage:</b><br>
 * 1. Call <code>/userAccount/initAuth</code> to get a session token<br>
 * 2. If <code>samlSso</code> is in the allowed methods, redirect the user to this endpoint<br>
 * 3. User authenticates with their IDP<br>
 * 4. IDP redirects back to <code>/saml/signIn/callback</code> with SAML response<br>
 * 5. Callback completes authentication and returns tokens
 * <br><br>
 * <b>Note:</b> This is a browser redirect endpoint, not a typical API call.
 * The user's browser should be redirected to this URL.
 * <br><br>
 * <b>Prerequisites:</b><br>
 * - Organization must have SAML SSO configured via <code>/saml/updateAppConfig</code><br>
 * - User must belong to an organization with SAML enabled
 */
export function samlSignInViaSAML(
  client$: SDKCore,
  request: SignInViaSAMLRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: SDKCore,
  request: SignInViaSAMLRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => SignInViaSAMLRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = null;
  const path$ = pathToFunc("/saml/signIn")();
  const query$ = encodeFormQuery({
    "email": payload$.email,
    "sessionToken": payload$.sessionToken,
  });

  const headers$ = new Headers(compactMap({
    Accept: "*/*",
  }));

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "signInViaSAML",
    oAuth2Scopes: null,
    resolvedSecurity: null,
    securitySource: null,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    method: "GET",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    query: query$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
