/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SDKCore } from "../core.js";
import { appendForm } from "../lib/encodings.js";
import {
  getContentTypeFromFileName,
  readableStreamToArrayBuffer,
} from "../lib/files.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  UploadUserDisplayPictureRequest,
  UploadUserDisplayPictureRequest$zodSchema,
} from "../models/uploaduserdisplaypictureop.js";
import { APICall, APIPromise } from "../types/async.js";
import { isBlobLike } from "../types/blobs.js";
import { Result } from "../types/fp.js";
import { isReadableStream } from "../types/streams.js";

/**
 * Upload display picture
 *
 * @remarks
 * Upload or update the display picture (avatar) for the authenticated user.<br><br>
 * <b>Overview:</b><br>
 * This endpoint allows users to upload their profile picture. The image is processed, resized, and stored for use throughout the application.<br><br>
 * <b>File Requirements:</b><br>
 * <ul>
 * <li><b>Allowed types:</b> PNG, JPEG, JPG, WebP, GIF</li>
 * <li><b>Maximum size:</b> 1MB (1,048,576 bytes)</li>
 * <li><b>Recommended dimensions:</b> 256x256 pixels or larger</li>
 * <li><b>Aspect ratio:</b> Square recommended (will be cropped to square)</li>
 * </ul>
 * <b>Image Processing:</b><br>
 * <ul>
 * <li>Images are automatically resized to standard dimensions</li>
 * <li>Converted to JPEG for consistency and smaller file size</li>
 * <li>Multiple sizes may be generated (thumbnail, standard, large)</li>
 * <li>Original is not preserved</li>
 * </ul>
 * <b>Side Effects:</b><br>
 * <ul>
 * <li>Previous display picture is replaced</li>
 * <li>Cached images are invalidated</li>
 * <li>CDN cache may take time to update</li>
 * </ul>
 * <b>Authorization:</b><br>
 * Users can only upload their own display picture. Admins cannot upload on behalf of other users.
 */
export function usersUploadUserDisplayPicture(
  client$: SDKCore,
  request: UploadUserDisplayPictureRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: SDKCore,
  request: UploadUserDisplayPictureRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => UploadUserDisplayPictureRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = new FormData();
  if (isBlobLike(payload$.file)) {
    appendForm(body$, "file", payload$.file);
  } else if (isReadableStream(payload$.file.content)) {
    const buffer = await readableStreamToArrayBuffer(payload$.file.content);
    const contentType = getContentTypeFromFileName(payload$.file.fileName)
      || "application/octet-stream";
    const blob = new Blob([buffer], { type: contentType });
    appendForm(body$, "file", blob, payload$.file.fileName);
  } else {
    const contentType = getContentTypeFromFileName(payload$.file.fileName)
      || "application/octet-stream";
    appendForm(
      body$,
      "file",
      new Blob([payload$.file.content], { type: contentType }),
      payload$.file.fileName,
    );
  }
  const path$ = pathToFunc("/users/dp")();

  const headers$ = new Headers(compactMap({
    Accept: "image/jpeg",
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "uploadUserDisplayPicture",
    oAuth2Scopes: null,
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "PUT",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
