/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SDKCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { pathToFunc } from "../lib/url.js";
import {
  AuthenticateRequestRequest,
  AuthenticateRequestRequest$zodSchema,
} from "../models/authenticateop.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Authenticate user with credentials
 *
 * @remarks
 * Authenticate a user using the specified method and credentials.
 * Requires a valid session token from `/initAuth`.
 *
 * **Credential Formats by Method:**
 *
 * - `password`: `{ "credentials": { "password": "your-password" } }`
 * - `otp`: `{ "credentials": { "otp": "123456" } }` (6-digit code, valid for 10 minutes)
 * - `google`: `{ "credentials": "google-id-token-string" }`
 * - `microsoft`: `{ "credentials": { "accessToken": "...", "idToken": "..." } }`
 * - `azureAd`: `{ "credentials": { "accessToken": "...", "idToken": "..." } }`
 * - `oauth`: `{ "credentials": { "accessToken": "...", "idToken": "..." } }`
 * - `samlSso`: Handled via redirect flow (use `/saml/signIn` instead)
 *
 * **Multi-Step Response:**
 *
 * If organization uses MFA, successful authentication returns:
 * - `status: "success"` with `nextStep` and `allowedMethods` for next step
 *
 * **Fully Authenticated Response:**
 *
 * After completing all steps:
 * - `message: "Fully authenticated"` with `accessToken` (1hr) and `refreshToken` (7d)
 *
 * **Security:**
 *
 * - Account locks after 5 consecutive failed attempts
 * - CAPTCHA may be required if enabled (pass `cf-turnstile-response`)
 */
export function userAccountAuthenticate(
  client$: SDKCore,
  request: AuthenticateRequestRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: SDKCore,
  request: AuthenticateRequestRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => AuthenticateRequestRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = encodeJSON("body", payload$.body, { explode: true });
  const path$ = pathToFunc("/userAccount/authenticate")();

  const headers$ = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
    "x-session-token": encodeSimple("x-session-token", payload$.xSessionToken, {
      explode: false,
      charEncoding: "none",
    }),
  }));

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "authenticate",
    oAuth2Scopes: null,
    resolvedSecurity: null,
    securitySource: null,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    method: "POST",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
