/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SDKCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  BulkInviteUsersRequest,
  BulkInviteUsersRequest$zodSchema,
  BulkInviteUsersSecurity,
} from "../models/bulkinviteusersop.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Bulk invite users
 *
 * @remarks
 * Invite multiple users to the organization in a single operation. Ideal for onboarding entire teams at once.<br><br>
 * <b>Overview:</b><br>
 * This endpoint creates user accounts for multiple email addresses and sends invitation emails to all of them. It's the most efficient way to add multiple users to your organization.<br><br>
 * <b>Invitation Flow:</b><br>
 * <ol>
 * <li>Validate all email addresses</li>
 * <li>Check for existing accounts (skip duplicates)</li>
 * <li>Create user accounts for new emails</li>
 * <li>Restore any previously deleted accounts</li>
 * <li>Add users to specified groups (optional)</li>
 * <li>Send invitation emails to all new users</li>
 * </ol>
 * <b>Requirements:</b><br>
 * <ul>
 * <li><b>Account Type:</b> Business accounts only (not individual)</li>
 * <li><b>SMTP:</b> Email configuration must be set up</li>
 * <li><b>Authorization:</b> Admin privileges required</li>
 * </ul>
 * <b>Email Processing:</b><br>
 * <ul>
 * <li>Duplicate emails are automatically skipped</li>
 * <li>Invalid email formats are rejected</li>
 * <li>Existing users are not re-invited (use resend-invite)</li>
 * <li>Previously deleted users are restored</li>
 * </ul>
 * <b>Response Details:</b><br>
 * Response includes count of successful invites and any failures with reasons.
 */
export function usersBulkInviteUsers(
  client$: SDKCore,
  security: BulkInviteUsersSecurity,
  request: BulkInviteUsersRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    security,
    request,
    options,
  ));
}

async function $do(
  client$: SDKCore,
  security: BulkInviteUsersSecurity,
  request: BulkInviteUsersRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => BulkInviteUsersRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = encodeJSON("body", payload$, { explode: true });
  const path$ = pathToFunc("/users/bulk/invite")();

  const headers$ = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "Authorization",
        type: "http:bearer",
        value: security?.bearerAuth,
      },
    ],
    [
      {
        type: "oauth2:client_credentials",
        value: {
          clientID: security?.oauth2?.clientID,
          clientSecret: security?.oauth2?.clientSecret,
        },
      },
    ],
  );

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "bulkInviteUsers",
    oAuth2Scopes: ["user:invite"],
    resolvedSecurity: requestSecurity,
    securitySource: security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
