/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SDKCore } from "../core.js";
import { compactMap } from "../lib/primitives.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

export enum GetUserDisplayPictureAcceptEnum {
  imageJpegAccept = "image/jpeg",
  imagePngAccept = "image/png",
}

/**
 * Get display picture
 *
 * @remarks
 * Retrieve the current user's display picture image.<br><br>
 * <b>Overview:</b><br>
 * This endpoint returns the user's profile picture as binary image data. Use this for displaying the user's avatar in the application.<br><br>
 * <b>Response Format:</b><br>
 * <ul>
 * <li>Returns raw image data (not JSON)</li>
 * <li>Content-Type header indicates image format (typically image/jpeg)</li>
 * <li>Suitable for use directly in &lt;img&gt; src or CSS background</li>
 * </ul>
 * <b>Caching:</b><br>
 * <ul>
 * <li>Response includes cache headers for browser caching</li>
 * <li>Use ETag for conditional requests</li>
 * <li>Cache invalidated when picture is updated</li>
 * </ul>
 * <b>Alternative:</b><br>
 * For signed URL access, use the user profile endpoint which returns a <code>displayPictureUrl</code> field.
 */
export function usersGetUserDisplayPicture(
  client$: SDKCore,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    options,
  ));
}

async function $do(
  client$: SDKCore,
  options?: RequestOptions & {
    acceptHeaderOverride?: GetUserDisplayPictureAcceptEnum;
  },
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const path$ = pathToFunc("/users/dp")();

  const headers$ = new Headers(compactMap({
    Accept: options?.acceptHeaderOverride || "image/jpeg;q=1, image/png;q=0",
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "getUserDisplayPicture",
    oAuth2Scopes: null,
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
