/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SDKCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  UpdateUserRequest,
  UpdateUserRequest$zodSchema,
  UpdateUserSecurity,
} from "../models/updateuserop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Update user
 *
 * @remarks
 * Update user profile information. Users can update their own profile, admins can update any user.<br><br>
 * <b>Overview:</b><br>
 * This endpoint allows updating user profile fields. The scope of allowed updates depends on the requester's role and relationship to the user being updated.<br><br>
 * <b>Authorization Matrix:</b><br>
 * <ul>
 * <li><b>Self-update:</b> Users can update their own fullName, mobile, designation, address</li>
 * <li><b>Admin-update:</b> Admins can update any field for any user</li>
 * <li><b>Email changes:</b> Require admin privileges and trigger re-verification</li>
 * </ul>
 * <b>Updatable Fields:</b><br>
 * <ul>
 * <li><code>fullName</code>: Display name (also updates firstName/lastName if parsed)</li>
 * <li><code>firstName</code>: First name only</li>
 * <li><code>lastName</code>: Last name only</li>
 * <li><code>email</code>: Email address (admin only, triggers verification)</li>
 * <li><code>mobile</code>: Phone number with country code</li>
 * <li><code>designation</code>: Job title</li>
 * <li><code>address</code>: Full address object</li>
 * </ul>
 * <b>Validation Rules:</b><br>
 * <ul>
 * <li>Email must be unique within the organization</li>
 * <li>Mobile must match pattern: +[country][number]</li>
 * <li>Name fields: 1-100 characters</li>
 * </ul>
 * <b>Side Effects:</b><br>
 * <ul>
 * <li>User update event published to event bus</li>
 * <li>Audit log entry created for admin updates</li>
 * <li>Email change triggers verification email</li>
 * </ul>
 */
export function usersUpdateUser(
  client$: SDKCore,
  security: UpdateUserSecurity,
  request: UpdateUserRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    security,
    request,
    options,
  ));
}

async function $do(
  client$: SDKCore,
  security: UpdateUserSecurity,
  request: UpdateUserRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => UpdateUserRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = encodeJSON("body", payload$.body, { explode: true });

  const pathParams$ = {
    id: encodeSimple("id", payload$.id, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path$ = pathToFunc("/users/{id}")(
    pathParams$,
  );

  const headers$ = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "Authorization",
        type: "http:bearer",
        value: security?.bearerAuth,
      },
    ],
    [
      {
        type: "oauth2:client_credentials",
        value: {
          clientID: security?.oauth2?.clientID,
          clientSecret: security?.oauth2?.clientSecret,
        },
      },
    ],
  );

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "updateUser",
    oAuth2Scopes: ["user:write"],
    resolvedSecurity: requestSecurity,
    securitySource: security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "PUT",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
