/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { PipeshubCore } from "../core.js";
import { compactMap } from "../lib/primitives.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { UpdateSmtpConfigSecurity } from "../models/updatesmtpconfigop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Reload SMTP configuration
 *
 * @remarks
 * Dynamically reload the SMTP configuration from the application config file without restarting the service.<br><br>
 *
 * <b>Overview:</b><br>
 * This internal endpoint allows the mail service to pick up SMTP configuration changes at runtime.
 * When SMTP settings are updated via <code>/configurationManager/smtpConfig</code>, this endpoint
 * should be called to apply the changes to the running mail service.<br><br>
 *
 * <b>Authentication:</b><br>
 * Requires a scoped token with <code>fetch:config</code> scope. This endpoint is designed for
 * internal service communication only.<br><br>
 *
 * <b>How It Works:</b><br>
 * <ol>
 * <li>Reads the latest configuration from the config file/etcd</li>
 * <li>Rebinds the AppConfig in the dependency injection container</li>
 * <li>Creates a new MailController instance with updated config</li>
 * <li>Returns the new SMTP configuration (excluding password)</li>
 * </ol>
 *
 * <b>Use Cases:</b><br>
 * <ul>
 * <li>Apply SMTP configuration changes without service restart</li>
 * <li>Switch SMTP providers at runtime</li>
 * <li>Update SMTP credentials</li>
 * <li>Change sender email address</li>
 * </ul>
 *
 * <b>Related Endpoints:</b><br>
 * <ul>
 * <li><code>POST /configurationManager/smtpConfig</code> - Create/update SMTP configuration</li>
 * <li><code>GET /configurationManager/smtpConfig</code> - Get current SMTP configuration</li>
 * </ul>
 */
export function mailConfigurationReloadSmtp(
  client$: PipeshubCore,
  security: UpdateSmtpConfigSecurity,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    security,
    options,
  ));
}

async function $do(
  client$: PipeshubCore,
  security: UpdateSmtpConfigSecurity,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const path$ = pathToFunc("/mail/updateSmtpConfig")();

  const headers$ = new Headers(compactMap({
    Accept: "application/json",
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "Authorization",
        type: "http:bearer",
        value: security?.scopedToken,
      },
    ],
  );

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "updateSmtpConfig",
    oAuth2Scopes: null,
    resolvedSecurity: requestSecurity,
    securitySource: security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
